extends layout.pug 

block announcement 
    p.coursework This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.

block content
    h3.intro This app is configured for creating, reading, editing and deleting the students' information.
    div.container 
        a(href="/students") Show
        a(href="/create") Create
